.nombre {
    font-family: "Honk", system-ui;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
        "MORF" 39,
        "SHLN" 50;
}

.gloriaHallelujah {
    font-family: "Gloria Hallelujah", cursive;
    font-weight: 600;
    font-style: normal;
}

.contenedorAntesDeAmeri{
    background-image: url(../../img/antesDeAmeri.png);
}
.contenedorTemporadaDeReggaeton{
    background-image: url(../../img/temporadaDeReggaeton.png);
}

.contenedorTemporadaDeReggaeton2{
    background-image: url(../../img/temporadaDeReggaeton2.png);
}

.contenedor24{
    background-image: url(../../img/24.png);
}

.contenedorDesdeElFinDelMundo{
    background-image: url(../../img/desdeElFinDelMundo.png);
}

.contenedorSuperSangreJoven{
    background-image: url(../../img/superSangreJoven.png);
}